{
	"printWidth": 120,
	"tabWidth":2,
	"singleQuote": true,
	"trailingComma": "all",
	"importOrder": [
		"^@server/(.*)$",
		"^@core/(.*)$",
		"^@ui/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true
}