@font-face {
  font-family: 'NEXON Lv2 Gothic Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NEXON Lv2 Gothic Light';
}

.App {
  text-align: center;
  background-color: #eb312010;
}

.img-render {
  object-fit: cover;
  image-rendering: auto;
}

.box-shadow {
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08),
    0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.position-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-aling-left {
  text-align: left;
}

.min-width-400 {
  min-width: 400px;
}

.card-block {
  cursor: pointer;
  display:inline-block;
  vertical-align:top;
}
